<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liaoyb.auth.modules.sys.repository.SysPermissionMapper">

    <!--需生成和实体和表的映射-->


    <select id="getUserPermission" resultType="com.liaoyb.auth.modules.sys.domain.SysPermission">
        select per.* from sys_permission per
        join sys_role_permission roper on roper.permission_id = per.id
        join sys_user_role ur on ur.role_id = roper.role_id
        where ur.user_id = #{userId}
    </select>
</mapper>